/******************************************
 * Button component
 ******************************************/
 .button-commander{
  margin-top:200px;
  color:white;
  text-decoration: none;
  padding:16px 9px;
  border-color: white;
  background-color: transparent;
}
.button{
  text-decoration: none;
  padding:16px 13px;
  border: solid 1px;
  background-color: transparent;
}
.arrow-button{
  margin-left:50px;
}
#btn-voir-tout:hover{
  cursor: pointer;
}

/********************
 * Alternatives
 ********************/
