/******************************************
 * Button component
 ******************************************/
 .button-commander{
  text-decoration: none;
  padding:8px 10px;
  background-color: transparent;
  border: solid 1px;
}
.button{
  text-decoration: none;
  background-color: transparent;
}
.arrow-button{
  margin-left:50px;
}
#btn-voir-tout:hover{
  cursor: pointer;
}

#entete .button-commander{
  color: white;
  border-color: white;
  bottom: 56px;
  position: absolute;
}

/********************
 * Alternatives
 ********************/
