.carousel{
    position: relative;
}
.carousel__container:after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
}
.carousel__next, .carousel__prev{
    top: 50%;
}
.carousel__next--hidden, .carousel__prev--hidden{
    opacity: 0;
    display: none;
}

//Buttons
.arrow-slider{
  position: absolute;
  background-color: transparent;
  border:none;
  top: 50%;
  transform: translateY(-50%);
}
.arrow-slider:hover{
    cursor: pointer;
}
.arrow-gauche{
  left: -70px
}
.arrow-droite{
  right: -70px;
}

//Content
#slider-best-seller{
    overflow: hidden;
  }
  
  .content__title{
    font-size: 16px;
    padding: 12px;
    padding-bottom: 0;
    margin: 0;
  }
  .content__desc{
    // padding: 14px 16px 29px 16px;
    padding: 12px;
    margin: 0;
    margin-bottom: 12px;
    font-size: 11px;
    word-break: break-all;
  }
  .content__stock{
    padding: 0 16px 0 16px;
    color:#d6d6d6;
    font-size: 11px;
    bottom: 0px;
    position: absolute;
    right: 0px;
  }
  
  .item{
    margin: 3px;
    background-color: #fff;
    height: 100%;
  }

  .item__body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #efefef;
  }
  
  .item__img{
    background-color: #e6e6e6;
    height: 105px;
    position: relative;
  }
  .item__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
  
  .item__content{
    flex:1;
    position: relative;
    border-bottom: solid 8px #d6d6d6;
  }
  .stock-danger{
    border-bottom: solid 8px #ff3f0c;
  }
  .stock-danger .content__stock{
    color: #ff3f0c;
  }

  //anime
  .item:hover img{
    animation: bounce 0.5s ease;
  }

  @keyframes bounce{
    from {transform: translate3d(-50%,-50%,0);}
    50%  {transform: translate3d(-50%,-55%,0);}
    to   {transform: translate3d(-50%,-50%,0);}
}
