.carousel{
    position: relative;
}
.carousel__container:after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
}
.carousel__next, .carousel__prev{
    top: 50%;
}
.carousel__next--hidden, .carousel__prev--hidden{
    opacity: 0;
    display: none;
}

//Buttons
.arrow-slider{
  position: absolute;
  background-color: transparent;
  border:none;
}
.arrow-slider:hover{
    cursor: pointer;
}
.arrow-gauche{
  left: -50px
}
.arrow-droite{
  right: -50px;
}

//Content
#slider-best-seller{
    overflow: hidden;
  }
  
  .content__title{
    padding: 16px 16px 0 16px;
    font-size: 16px;
  }
  .content__desc{
    padding: 14px 16px 29px 16px;
    font-size: 11px;
    word-break: break-all;
  }
  .content__stock{
    padding: 0 16px 0 16px;
    color:#d6d6d6;
    font-size: 11px;
    bottom: 0px;
    position: absolute;
    right: 0px;
  }
  
  .item{
    margin: 3px;
    background-color: #fff;
    height: 100%;
  }

  .item__body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #efefef;
  }
  
  .item__img{
    background-color: #e6e6e6;
    padding: 16px;
    height: 105px;
  }
  
  .item__content{
    flex:1;
    position: relative;
    border-bottom: solid 7px #d6d6d6;
  }
  .stock-danger{
    border-bottom: solid 7px #ff3f0c;
  }
  .stock-danger .content__stock{
    color: #ff3f0c;
  }

  //anime
  .item:hover img{
    animation: bounce 0.5s ease;
  }

@keyframes bounce{
    from {transform: translateY(0);}
    50%  {transform: translateY(-4px);}
    to   {transform: translateY(0);}
}

