/******************************************
 * Navigation
 ******************************************/
    footer{
    background-color: #170cff;
    color: white;
    }
    footer section{
    display: flex;
    justify-content: space-between;
    padding:35px 0 47px 0;
    }
    footer p{
    margin-bottom: 30px;
    font-size: 14px;
    }
    footer li{
    color: #a29eff;
    padding: 1px 0;
    }
    .footer-content{width: 230px;}
/********************
 * Alternatives - Responsive
 ********************/
