/******************************************
 * Header
 ******************************************/
.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 99px;
  border-bottom: 1px solid white;
}

/********************
 * Alternatives - Responsive
 ********************/