/******************************************
 * Elements
 ******************************************/
@import "header";
@import "nav";
@import "footer";

@import "sections/entete";
@import "sections/best-seller";
@import "sections/nouveautes";
@import "sections/historique";
@import "sections/ventes-commandes";
@import "sections/modeles";

//======Section sizes===================
.section-size{
  width:923px;
  margin: auto;
}
.little-section-size{
  width: 742px;
  margin: auto;
}

//======Styles===================
.ft-14{font-size:14px;}
.spacebetween{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}
.relative{position:relative;}
.big-title{font-size: 24px;}
.title{font-size: 1rem;}
.header-section{margin-bottom:38px;}
.div-arrows{
  display: flex;
  align-items: center;
  position: relative;
}
label{padding-right: 10px;}