/******************************************
 * Navigation
 ******************************************/
ul{
  margin:0;
  list-style:none;
}
.element{
  display: inline-block;
  padding:40px 0 36px 0;
  margin: 0 13px 0 13px;
}
.nav-user p{
  margin:0;
}
.nav-user p:after{
  content:'|';
  padding: 0 10px 0 10px;
}
.nav-user p:last-child{
  margin-right: 0;
}
.nav-user p:last-child:after{
  content: '';
  padding: 0;
}
#plus{
  padding: 0 10px 0 10px;
}
.nav-user p a{
  text-decoration: none;
  color:white;
}
.nav ul li:first-child{
  margin-left: 0;
}
ul{
  padding-left:0px;
}
.link{
  font-size: 15px;
  text-decoration: none;
  color:rgba(255,255,255,0.7);
}
.active-link{
  // à faire en after
  border-bottom: solid white 6px;
}
.active-link .link{
  color:white;
}
.login-link{
  margin-left:auto;
  color:white;
}
.plus{
  color:white;
}
.fa-plus-circle{
  margin-left:10px;
}

/********************
 * Alternatives - Responsive
 ********************/
