/******************************************
 * Const
 ******************************************/
@import "const/colors";
@import "const/fonts";
@import "const/texts";
@import "const/breakpoints";

/******************************************
 * Utils
 ******************************************/
@import "utils/mixins";

/******************************************
 * Layouts
 ******************************************/
@import "layouts/main/main";

/******************************************
 * Components
 ******************************************/
@import "components/button";
@import "components/slider";

/******************************************
 * Base styles
 ******************************************/
* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  background-color: $color-background;
}

body{
  font-family: 'Arial';
}
main {
  margin:0;
  display: block;
  position: relative;
}

/********************
 * Alternatives - Responsive
 ********************/
 @media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}