.section-slider{
  padding: 48px 0 66px 0;
  z-index: 2;
  background-color: white;
}
.section-slider .big-title{
  margin: 0;
}
.input-sort{
  padding:6px;
  color: grey;
  border-color: #d6d6d6;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.33);
  width: 114px;
}