//===================
// Section
//===================
.section-historique{
  padding: 50px 0 50px 0;
  position: relative;
  background-color: white;
  margin-top: -50px;
  z-index: 1;
}
.section-historique > div{
  display: flex;
  justify-content: space-between;
}
.div-historique{
  width: 435px;
  overflow: hidden;
}

//===================
// historique
//===================
.title-historique{
  font-size: 18px;
  margin:0;
}
.article-historique{
  display: flex;
  justify-content: space-between;
  padding: 23px 0 24px 0;
  border-bottom: 1px #d6d6d6 solid;
}
.div-articles-historique{
  padding-top: 47px;
}
.article-historique:first-child{
  padding-top: 0;
}
.article-historique:last-child{
  border: none;
  padding-bottom: 0;
}
.article-historique-content{
  display: flex;
}
.article-historique-content .user-img{
  width: 50px;
  height: 50px;
  margin-right: 19px;
  border-radius: 50%;
  border: #bebebe 1px solid;
}
.historique-infos{
  left: -15px;
}
.badge{
  width: 50px;
  height: 50px;
  background-color: #d6d6d6;
  border: #bebebe 1px solid;
  border-radius: 50%;
  transform: translateX(-33px);
}
.state-user-img{
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
}
.article-title{
  margin: 0;
}
.article-by{
  font-size: 11px;
  margin: 0;
}
.etat{
  position: absolute;
  font-size: 11px;
  color: #bebebe;
}

//formation
.div-formations{
  width: 435px;
}


//===================
// Etat des commandes
//===================

// Commande attention requise
.commande-danger .etat{color: #ff3f0c;}
.commande-danger .badge{
  border-color: #ff3f0c;
  background-color: #ff3f0c;
}
.commande-danger .user-img{border-color: #ff3f0c;}
.fleche-right{
  margin-left: 10px;
}
.button-danger button{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-color: #ff3f0c;
}
.button-danger .fleche-right{
  margin-left: 17px;
}

//Commande validée
.commande-ok .etat{color: #0cff56;}
.commande-ok .badge{
  border-color: #0cff56;
  background-color: #0cff56;
}
.commande-ok .state-user-img{
  height: 15px;
}


/********************
 * Alternatives - Responsive
 ********************/
 @media screen and (max-width: 400px) {
  .section-historique > div{
    display: block;
    padding: 10px;
  }
  .div-historique{
    width: 340px;
  }
  .div-formations{
    width: 340px;
  }
  .article-historique{
    display: block;
  }
  .button-danger button{
    margin-top: 10px;
    /* margin: auto; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .div-formations .title-historique{
    padding-top: 50px;
  }
 }